.form{
    display :flex;
    flex-direction: column;
    width: 100%;
    padding: 20;
}

.input{
    position:center;
    width: 90%;
    padding: 10px;
    margin-top: 15px;
    /* background: var(--tg-theme-button-color); */
    
}

